* {
  font-family: 'Noto Sans KR', sans-serif;
}

.navbar {
  background: rgb(15, 139, 42);
}

.footer {
  margin-top: 20px;
  background: rgb(15, 139, 42);
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  color: rgb(104, 204, 126);
  height: 100%;
  padding-bottom:60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.login {
  line-height: 1em;
  display: inline-block;
  text-decoration: none;
  /* padding: 120px; */
  margin-left: 750px;
}
a {
  color: whitesmoke;
}

#scoreCardHeader {
  text-align: center;
  height: 60px;
}

#scoreCard {
  width: 1100px;
  height: 1100px;
  text-align: center;
  overflow: visible;
}

#saveRoundButton {
  height: 30px;
  width: 120px;
  margin-top: 10px;
  border-radius: 8%;
  background: green;
  color: white;
}

#courseNameInput {
  background: transparent;
  border: none;
  text-align: center;
  margin-left: 225%;
  font-size: 20px;
}

#courseNameHeader {
  background:rgb(18, 190, 56);
  height: 10%;
}

#roundDay {
  width: 30px;
  display: inline-block;
  background: transparent;
  border: none;
}

#roundMonth {
  width: 30px;
  display: inline-block;
  background: transparent;
  border: none;
}
#roundYear {
  width: 30px;
  display: inline-block;
  background: transparent;
  border: none;
}

#roundInputCell {
  width: 30px;
  background: transparent;
  border: none;
}

#roundTotalInputCell {
  width: 40px;
  background: transparent;
  border: none;
}

#deleteButton {
  background: none;
  border: none;
  color: red;
  height: 5px;
  width: 3.5px;
}

#playerNameInput {
  width: 80px;
  background: transparent;
  border: none;
}
#playerNameInput1 {
  width: 85px;
  background: transparent;
  border: none;
}

#courseName {
  text-align: center;
  margin-left: 300%;
  display: inline-block;
}

#roundDayDisplay {
  
}

.profileRounds {
  margin-bottom: 50px;
  margin-right: 0px;
  margin-left: 0%;
}

#cardSpacing {
  /* margin-bottom: 50px; */
}

#bestAndWorstRoundsOverall {
  display: inline;
}
.card {
  margin: 5px;
  display: inline;
  padding: 5px;
}


#myCoursesHeader {
  text-align: center;
  margin-left: 50%;
}

#navLink {
  color: white;
}

#scoreCardForm {
  
  
}

.MuiTableCell-root {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(224, 224, 224, 1);
  
}
.MuiTableCell-head {
  size: 5px;
  width: 15px;
  
}

.MuiTable-root {
  width: 80%;
  
}

.MuiTableCell-alignRight {
  padding: 5px;
}

#deleteCell {
  width: 30px
}

#dateInput {
  display: inline;
}