* {
  font-family: "Raleway", sans-serif;
}

.navbar {
  background: rgb(101, 118, 124);
}

.footer {
  margin-top: 20px;
  background: rgb(161, 168, 170);
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: rgb(228, 228, 228);
  background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.login {
  line-height: 1em;
  display: inline-block;
  text-decoration: none;
  /* padding: 120px; */
  margin-left: 750px;
}
a {
  color: whitesmoke;
}

#scoreCardHeader {
  text-align: center;
}

#scoreCard {
  width: 1100px;
  height: 1100px;
  text-align: center;
  overflow: visible;
}

#saveRoundButton {
  height: 30px;
  width: 120px;
  margin-top: 10px;
  border-radius: 8%;
}

#courseNameInput {
  background: transparent;
  border: none;
  text-align: center;
  margin-left: 200%;
  font-size: 20px;
}

#roundDay {
  width: 30px;
  margin-left: 3900%;
  display: inline-block;
}

#roundMonth {
  width: 30px;
  margin-left: 3825%;
  display: inline-block;
}
#roundYear {
  width: 30px;
  margin-left: 3750%;
  display: inline-block;
}

#roundInputCell {
  width: 30px;
  background: transparent;
  border: none;
}

#roundTotalInputCell {
  width: 40px;
  background: transparent;
  border: none;
}